<!DOCTYPE html>
<html>
<head>
    <title>Salary Slip</title>
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/salary_slip.css' %}">#}
{#    <script src="{% static 'js/salary_slip.js' %}"></script>#}
</head>
<body style=" align-items: center; justify-content: center; display: block; height: 100%; text-align: center">
<div style="display: flex; justify-content: center">
{#    <img style="justify-content: center; display: block; object-fit: contain" src="logo.jpeg" width="auto" height="auto"/>#}


</div>


    <h1 style="color: #5ac7ed; font-weight:bolder">Salary Slip</h1>

    <h2>Employee Information</h2>
    <p><strong>Name:</strong> {{ employee.username }}</p>
{#    <p><strong>Employee ID:</strong> {{ employee.employee_id }}</p>#}
{#    <p><strong>Position:</strong> {{ employee.designation }}</p>#}
    <!-- Add more employee details as needed -->

    <h2>Salary Details</h2>
{#    <p><strong>Basic Salary:</strong> {{ employee.basic_salary }}</p>#}
{#    <p><strong>Allowances:</strong> {{ employee.allowances }}</p>#}
{#    <p><strong>Deductions:</strong> {{ employee.deductions }}</p>#}
{#    <p><strong>Total Salary:</strong> {{ employee.total_salary }}</p>#}
    <!-- Add more salary details as needed -->

    <!-- Add any other sections or information specific to the salary slip -->

    <script>
        // Add your JavaScript code here or link external JavaScript files
    </script>
</body>
</html>